.slex-input-container {

}

.slex-input-title {
  display: flex;
  justify-content: center;
  font-family: Roboto-Regular;
  margin-bottom: 3px !important;
}

.slex-input {
  border: 0 !important; 
  width: 100%;
  height: 130px !important;
  border-radius: 20px !important;
  outline: 0 !important;
  padding: 10px 15px 10px 15px !important;
  color: #00669f;
  background-color: #ffffff;
}