#sign-language-ext-root {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999999;
}

.sign-language-ext-panel {
  padding: 20px 30px 30px 30px;
  width: 400px;
  height: 550px;
  background: linear-gradient(to bottom, rgba(0, 255, 137, 0.6), rgba(0, 163, 255, 0.6));
  color: #ffffff; 
  backdrop-filter: blur(8px);
  border-radius: 35px;
  box-shadow: 0 50px 40px -30px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative; 
  animation: signLanguageExtlideFadeIn 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.sign-language-ext-panel.closing {
  animation: signLanguageExtlideFadeOut 0.4s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}

.sign-language-ext-panel * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes signLanguageExtlideFadeIn {
  0% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes signLanguageExtlideFadeOut {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(40px, -40px);
  }
}
